<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.n00bware.parchment"
      android:versionCode="241"
      android:versionName="@string/version_name">
    <uses-sdk android:minSdkVersion="6"></uses-sdk>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:label="@string/parchment_app_name"
            android:icon="@drawable/parchment">

        <activity android:name=".SplashScreen"
            android:label="@string/parchment_app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:configChanges="orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name=".ParchmentActivity"
                  android:label="@string/parchment_app_name"
                  android:icon="@drawable/parchment">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <action android:name="android.intent.action.VIEW" />
                <action android:name="org.linuxmotion.intent.HANDLE_VIEW_RESOURCE" />
                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
                <data android:mimeType="application/x-javascript" />
                <data android:mimeType="application/x-perl" />
                <data android:mimeType="application/x-sh" />
            </intent-filter>
        </activity>

        <activity android:name=".FilePicker"
            android:label="@string/parchment_app_name" >
        </activity>

    </application>

</manifest>
